@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
canvas{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}
main {
  position: absolute;
  margin: 0;
}

nav{
  max-width: fit-content;
}
.grid-container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
  color:#2d2f35;
  margin-left: 30px;
  align-items: center;
}
.grid-items{
  display: flex;
  gap:30px;
  font-weight: bold;
  font-size: 1.2vw;
  justify-content: flex-end;
  font-family: 'Cabin', sans-serif;
}

.logo
{
  font-family: 'Signika Negative', sans-serif;
  font-size: 2.5vw;
  min-width: 700px;
}
.body1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  margin-top: 80px;
}

.left{
  background-color: #4800ff;
  height: 800px;
  width:700px;
  border-radius: 30px;
  margin-left: 80px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.right{
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  
}
.p{
  grid-column: 1/span 4;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
  height: 500px;
  transform: rotate(5deg);
}
.p1{
  grid-row: 1;
  grid-column: 3;
  height: 400px;
  transform: rotate(-5deg);
}

.desc{
  font-size: 2.5vw;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bolder;
  color:azure;
  letter-spacing: 0.8px;
  padding-left: 50px;
  padding-top: 20px;
}

b{
  color:#FEB8CF;
}

.learn{
  margin-left: 50px;
  font-size: 1.5vw;
  min-width: 15vw;
  min-height: 4vw;
  border-radius: 20px;
  border: none;
  background-color: #FEB8CF;
  font-weight: bolder;
}
.body2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 150px 0px 150px -8px;
  background-color: rgba(249, 249, 249, 0.7);
  height: 600px;
  max-height: max-content;
  min-width: 100%;
}
.left1{
  margin-left: 230px;
  margin-top: 70px;
}
.p2{
  height: 400px;
  width: 400px;
  }

.right1{
  width: 600px;
  border-radius: 30px;
  margin-top: 60px;
 }

.desc1{
  font-size: 2vw;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bolder;
  color:#3b344c;
  letter-spacing: 0.8px;
  padding-left: 50px;
  padding-top: 30px;
}

.body3{
  margin-top: 120px;
}
.title{
  font-size: 4vw;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  color: #2d2f35;
  margin-left: 80px;
  letter-spacing: 4px;
}

.circle{
  width: 40px;
  height: 40px;
  background-color: #2d2f35;
  border-radius: 50%;
  margin-left:80px;
  position: relative;
}
.circle:after{
  content: "";
  width: 10px;
  height: 360px;
  background-color: #2d2f35;
  position: absolute;
  margin-left:15px;
  margin-top: 10px;
}
.first{
  display: flex;
  margin-top: 40px;
  align-items:center;
  gap: 20px
}

.subtitle{
  font-size: 1.9vw;
  font-weight: bolder;
  font-family: 'Cabin', sans-serif;
  color: #2d2f35;
  text-transform: uppercase;
}

.card-first{
  max-height: max-content;
  max-width:max-content;
  background-image: linear-gradient(to bottom, #c67892,#504767);
  margin-left: 150px;
  margin-top: 20px;
  border-radius: 15px;
  transform: translateY(4em);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
  will-change: transform, opacity;
}

.card-first.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}
#pic{
  height: 110px;
  float:left;
  padding: 20px 10px 0px 20px;
}
.card-desc{
  padding: 20px ;
  font-size: 1.3vw;
  font-weight: bolder;
  font-family: 'Signika Negative', sans-serif;
  letter-spacing: 1.5px;
  color: #f7f2f2;
  word-spacing: 2px;
  line-height: 1.4;
  width:400px;
}

.features{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
}
.body4{
  background-color: rgba(249, 249, 249, 0.7);
  max-height: max-content;
  margin-top: 150px;
  margin-left: -8px;
}
.Testimonials{
  padding-top: 80px;
  font-size: 4vw;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  color: #2d2f35;
  margin-left: 80px;
  letter-spacing: 4px;
}

.profile{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  z-index: 1;
  justify-items: center;
  background-image: url("person1.jpg");
}

.cardcontent{
  background-color: #ffffff;
  height: 400px;
  width: 350px;
  border-radius: 15px;
  margin-top: -50px;
  margin-bottom: 50px;

}
.swiper-wrapper1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 100px;
}

.swiper-slide1{
  display: grid;
  justify-items: center;
}

.quote{
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.2vw;
  color:#2d2f35;
  width: 200px;
  text-align: center;
  margin-left:80px;
  line-height: 1.4;
  word-break: keep-all;
}

.fa-quote-left{
  margin-top:120px;
  margin-left: 60px;
}
.fa-quote-right{
  margin-left: 250px;
  margin-bottom: 50px;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}